<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 获取application配置文件中的配置 -->
    <springProperty scope="context" name="logLevel" source="log.level"/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L- %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/demo.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/demo.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L- %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="${logLevel}">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>