<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushunde.dao.TcityMapper">
  <resultMap id="BaseResultMap" type="com.lushunde.model.Tcity">
    <result column="CITYNO" jdbcType="VARCHAR" property="cityno" />
    <result column="CITYNAME" jdbcType="VARCHAR" property="cityname" />
    <result column="PROVINCECODE" jdbcType="CHAR" property="provincecode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CITYNO, CITYNAME, PROVINCECODE
  </sql>
  <select id="selectByExample" parameterType="com.lushunde.model.TcityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TCITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.lushunde.model.TcityExample">
    delete from TCITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lushunde.model.Tcity">
    insert into TCITY (CITYNO, CITYNAME, PROVINCECODE
      )
    values (#{cityno,jdbcType=VARCHAR}, #{cityname,jdbcType=VARCHAR}, #{provincecode,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lushunde.model.Tcity">
    insert into TCITY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityno != null">
        CITYNO,
      </if>
      <if test="cityname != null">
        CITYNAME,
      </if>
      <if test="provincecode != null">
        PROVINCECODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityno != null">
        #{cityno,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null">
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null">
        #{provincecode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lushunde.model.TcityExample" resultType="java.lang.Long">
    select count(*) from TCITY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TCITY
    <set>
      <if test="record.cityno != null">
        CITYNO = #{record.cityno,jdbcType=VARCHAR},
      </if>
      <if test="record.cityname != null">
        CITYNAME = #{record.cityname,jdbcType=VARCHAR},
      </if>
      <if test="record.provincecode != null">
        PROVINCECODE = #{record.provincecode,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TCITY
    set CITYNO = #{record.cityno,jdbcType=VARCHAR},
      CITYNAME = #{record.cityname,jdbcType=VARCHAR},
      PROVINCECODE = #{record.provincecode,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>